
  <div class="mach">

	<div class="img">
    <img src="../../../assets/img/formBG.png" />
  </div>

  <div class="container">

	 <div class="row">
			<h1>Contactez-Nous</h1>
	</div>

	<div class="input-container">


        <div class="col-md-6 col-sm-12">
				<div class="styled-input">
					<input type="text" required />
					<label>Nom</label> 
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input" style="float:right;">
					<input type="text" required />
					<label>Prenom</label> 
				</div>
			</div>


			<div class="col-xs-12">
				<div class="styled-input wide">
					<input type="text" required />
					<label>Email</label> 
				</div>
			</div>
			
			<div class="col-xs-12">
				<div class="styled-input wide">
					<textarea required></textarea>
					<label>Message</label>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="btn-lrg submit-btn">Envoyer</div>
			</div>
	</div>
</div>

  </div>