<div class="tieb">
  <div>
    <h1>A Propos</h1>
    <p>A propos d'Amazon</p>
    <p>Carrieres</p>
    <p>durabilité</p>
    <p>amazon Science</p>
  </div>
  <hr />
  <div>
    <h1>A Propos</h1>
    <p>A propos d'Amazon</p>
    <p>Carrieres</p>
    <p>durabilité</p>
    <p>amazon Science</p>
  </div>

  <hr />
  <div>
    <h1>A Propos</h1>
    <p>A propos d'Amazon</p>
    <p>Carrieres</p>
    <p>durabilité</p>
    <p>amazon Science</p>
  </div>
  <br />
  <br />
</div>

<div class="tof">
  <img src="/assets/img/elephant.png" class="enfin" />
  <!-- <img src="/assets/img/footer.png" width="50" height="75" /> -->
</div>
