.tieb {
  background: #132839;
  display: flex;
  width: 70%;
  color: #d4a444;
  margin: 0 auto;
  margin-top: 20rem;
}

h1 {
  font-family: "Lilita One", cursive;
}
h1:hover {
  color: #fff;
  text-shadow: 0 0 10px #D4A444,
               0 0 20px #469293,
               0 0 30px #D4A444;
}
.tieb p {
  font-size: 18px;
  font-family: "Lilita One", cursive;
}
.tof {
  background-image: url("../../../assets/img/footer.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height:680px;
  display: flex;
  justify-content: center;
  align-items: center;
}

