/* Structuration du body*/
.tieb {
  background: #132839;
  display: flex;
  width: 70%;
  color: #d4a444;
  margin: 0 auto;
  margin-top: 20rem;
}
 /* type d'ecriture du titre*/
h1 {
  font-family: "Lilita One", cursive;
}

/* type d'ecriture de la liste et sa taille*/
.tieb p {
  font-size: 18px;
  font-family: "Lilita One", cursive;
}

/* Enlever les boutons de la liste*/

li{
  list-style:none ;
}


/* Structuration de l'image arriere plan*/
.tof {
  background-image: url("../../../assets/img/footer.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height:680px;
  display: flex;
  justify-content: center;
  align-items: center;
}

