<div class="tieb">
  <div>
    <!--titre-->
    <h1>A Propos</h1>

       <!--liste element footer-->
    <ul>
      <li>A propos d'Amazon</li>
      <li>Carrieres</li>
      <li>durabilité</li>
      <li>amazon Science</li>
    </ul>
  </div>
  <hr />
  <div>
    <!--titre-->
    <h1>Ressources</h1>

     <!--liste element footer-->
     <ul>
      <li>A propos d'Amazon</li>
      <li>Carrieres</li>
      <li>durabilité</li>
      <li>amazon Science</li>
    </ul>
  </div>

  <hr />
  <div>
    <!--titre-->
    <h1>General</h1>

     <!--liste element footer-->
     <ul>
      <li>A propos d'Amazon</li>
      <li>Carrieres</li>
      <li>durabilité</li>
      <li>amazon Science</li>
    </ul>
  </div>
  <br />
  <br />
</div>

<div class="tof">
  <img src="/assets/img/elephant.png" class="enfin" />
  <!-- <img src="/assets/img/footer.png" width="50" height="75" /> -->
</div>
