/* Structuration du body*/
.tieb {
  background: #132839;
  display: flex;
  width: 70%;
  color: #d4a444;
  margin: 0 auto;
  margin-top: 20rem;
}
 /* type d'ecriture du titre*/
h1 {
  font-family: "Lilita One", cursive;
  padding-left: 2.5rem;
}

/* type d'ecriture de la liste et sa taille*/
h1:hover {
  color: #fff;
  text-shadow: 0 0 10px #D4A444,
               0 0 20px #469293,
               0 0 30px #D4A444;
}
.tieb p {
  font-size: 18px;
  font-family: "Lilita One", cursive;
}

/* Enlever les boutons de la liste*/

li{
  list-style:none ;
}
ul li {
  padding-bottom: 1rem;
}


/* Structuration de l'image arriere plan*/
.tof {
  background-image: url("../../../assets/img/footer.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enfin:hover {
  transform: rotate(10deg);
  animation-duration: 2s;
  filter: drop-shadow(5px 5px 10px #d4a444a1);
}

