.spacer {
  flex: 1 1 auto;
}

.logo-img {
  width: min(30vw, 80px);
}

.theNav {
  color: white;
  font-family: "Lilita One", cursive;
  font-size: 18px;
  
}

a:visited {
    color: white;
}
  a:hover {
  color: #D4A444;
}

/*
.theNav .theLinks .accueil {
  background-color: #D4A444;
}
*/

/*selcting the active navbar item and make it as current*/
.theNav .theLinks .active{
  background-color: #D4A444;
}

span:hover{
  color: #fff;
  text-shadow: 0 0 10px #D4A444,
               0 0 20px #469293,
               0 0 30px #D4A444;
}
