<!--the navbar with the routerlinks added-->
<p >
    <mat-toolbar class="theNav">
      <span class="spacer" > <a mat-button routerLink="/accueil"><img src="assets/img/logo.png" alt="logo image" class="logo-img"></a> <span>Le loup et l'Agneau</span></span>
      <div class="theLinks"> 
        <a mat-button routerLink="/accueil" routerLinkActive="active" routerLinkOptions="{exact:true}" class="accueil">Accueil</a>
        <a mat-button routerLink="/presentation"  routerLinkActive="active">Présentaion</a>
        <a routerLink="/nosFables" mat-button routerLinkActive="active">Nos fables</a>
        <a mat-button routerLink="/nousContacter" routerLinkActive="active">Nous contacter</a>
        <a mat-button > <span><mat-icon routerLinkActive="active" routerLink="/commingsoon">shopping_cart</mat-icon></span></a>
      </div>
     
    </mat-toolbar>
</p>

