.spacer {
  flex: 1 1 auto;
}

.logo-img {
  width: min(30vw, 80px);
}

.theNav {
  color: white;
  font-family: "Lilita One", cursive;
  font-size: 18px;
  
}

a:visited {
    color: white;
}
  a:hover {
  color: #D4A444;
}

/*
.theNav .theLinks .accueil {
  background-color: #D4A444;
}
*/

/*selcting the active navbar item and make it as current*/
.theNav .theLinks .active{
  background-color: #D4A444;
  color:#132839 ;
}

.theNav .theLinks .activeChart{
  color: #D4A444;
}


.title{

  font-family: "Lilita One", cursive;
  background: linear-gradient(90deg, #D4A444, #fff, #469293);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 8s linear infinite;
  position: relative;

}

@keyframes shine {
  5% {
    background-position-x: -500%;
  }
  50% {
    background-position-x: 500%;
  }
}
