<!-- <div class="header">
    <div>
        <img src="assets/img/header.png" alt="this is the header image" >
    </div>
</div> -->


<!-- Background image and the title.-->
<div class="bg-img">

    <div class="container">
        <!-- <app-navbar> </app-navbar> -->

    </div>
    <div class="title">
        <!--   <p class="title">
            &nbsp;&nbsp;Le Loup <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;& <br> L'Agneau
        </p>
-->

        <h1 class="leLoup">
            <span>Le &nbsp;</span>
            <span>Loup</span>
        </h1>
        <h1 class="and">
            <span>&</span>
        </h1>
        <h1 class="lagneau">
            <span> L'Agneau</span>
        </h1>

    </div>

</div>