/* You can add global styles to this file, and also import other style files */
/* color global pour le background du site et les fonts */
body {
    background-color: #132839;
    color: #f5f5f5;
    font-family: "roboto";
}