.team {
    display: flex;
    justify-content: center;
    margin: 5rem 5rem 0rem 5rem;
}
/* taille de l'image team.jpg */
.teamImg img {
    width: 50rem;
    border-radius: 5rem;
}
.teamPresa {
    padding: 4rem;
    font-family: 'lilita one';
    
}
.teamPresa h1 {
    font-size: 3rem;
}