<div class="team">
    <div class="teamImg">
        <img src="../../../assets/img/team.jpg" alt="">
    </div>
  <div class="teamPresa">
    <h1>Notre équipe</h1>
    <p class="title">Halvah dessert jelly gummi bears icing chocolate. Shortbread cookie soufflé cookie sugar plum cupcake ice cream cookie apple pie. Cookie sweet cookie bear claw pudding gummies lollipop.
    Chupa chups sweet roll lemon drops biscuit tiramisu soufflé chocolate bar danish. Donut brownie pudding toffee toffee pie brownie carrot cake. Chupa chups oat cake candy chocolate bar wafer.</p>
    <br>
    <p>
        Oat cake pie marshmallow chocolate wafer. Cheesecake sweet roll macaroon gummi bears toffee tiramisu oat cake dessert. Shortbread marzipan biscuit icing bonbon. Chocolate bar bear claw topping gummies toffee cheesecake topping bonbon.
        Tart sweet roll wafer lemon drops jelly beans soufflé chocolate cake powder soufflé. Cookie marshmallow carrot cake marshmallow tiramisu marzipan jelly jelly lollipop. Biscuit chocolate cake shortbread cheesecake carrot cake. Shortbread cotton candy cheesecake tootsie roll sugar plum topping tart.
    </p>
  </div>
</div>
